# AL compiled packages
*.app

# Downloaded AL symbols
.alpackages/

# VS Code local configuration
.vscode/launch.json
.vscode/rad.json
# Snapshots / temp
.snapshots/

# OS
Thumbs.db
.DS_Store
.netpackages/